<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity-alias
            android:name=".DefaultAlias"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasEmerald"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_emerald"
            android:roundIcon="@mipmap/ic_launcher_emerald_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasGold"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_gold"
            android:roundIcon="@mipmap/ic_launcher_gold_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasRose"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_rose"
            android:roundIcon="@mipmap/ic_launcher_rose_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasSage"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_sage"
            android:roundIcon="@mipmap/ic_launcher_sage_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasTwilight"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_twilight"
            android:roundIcon="@mipmap/ic_launcher_twilight_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasCustom"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_custom"
            android:roundIcon="@mipmap/ic_launcher_custom_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasDynamic"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_dynamic"
            android:roundIcon="@mipmap/ic_launcher_dynamic_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <receiver android:name=".util.ReminderReceiver" android:exported="false" />
        
        <service 
            android:name=".service.PomodoroService" 
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Pomodoro Timer" />
        </service>
    </application>

</manifest>
